.register {
    margin-top: 40px;
}
.imz{
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}
.accounts-bg {
    background: var(--projects-bg);
    color: var(--color);
}
