.account {
    width: 100%;
    background: var(--projects-bg);
    color: var(--color);
    background: linear-gradient(to right, var(--intro-bg-first) 0%, var(--intro-bg-second) 100%);
    input[type="text"] {
        color: var(--color);
        background: var(--search-bg);
        border-color: #90A4AE;
    }
    input[type="email"] {
        color: var(--color);
        background: var(--search-bg);
        border-color: #90A4AE;
    }
    input[type="password"] {
        color: var(--color);
        background: var(--search-bg);
        border-color: #90A4AE;
    }
    .card {
        background: var(--main-bg);
        color: var(--color);
    }
}
.imz {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}
.box-bg {
    color: var(--color);
    background: var(--search-bg);
    border-color: #90A4AE;
}
