.theme-light {
  --box-color: white;
  --color: black;
  --main-bg: white;
  --search-bg: white;
  --background-color: #f3f3f3;
  --primary-color: #eb743b;
  --secondary-color: purple;
  --title-color: #213b52;
  --shadow: rgba(1, 41, 112, 0.08);
  --gray-light: #e0e0e0;
  --intro-bg-first: purple;
  --intro-bg-second: orange;
  --selected-bg: #213b52;
  --footer-sec-color: #808080;
  --supporters-card-bg: rgba(255, 255, 255, 0.5);
  --filter: grayscale(80);
  --btn-dark: black;
  --hint-color: #1a1a1a;
  --projects-bg: linear-gradient(180deg, #f2f6fa 0%, #fff 100%);
}
.theme-dark {
  --box-color: #243133;
  --main-bg: #243133;
  --color: white;
  --background-color: black;
  --search-bg: #1a1a1a;
  --primary-color: purple;
  --secondary-color: orange;
  --title-color: #f3f3f3;
  --shadow: rgba(1, 21, 92, 0.18);
  --gray-light: #243133;
  --intro-bg-first: #262626;
  --intro-bg-second: #1a1a1a;
  --selected-bg: #15DED8;
  --footer-sec-color: #90A4AE;
  --supporters-card-bg: #808080;
  --filter: none;
  --btn-dark: #243133;
  --hint-color: #f3f3f3;
  --projects-bg: #243133;
}
a {
  color: var(--color);
  text-decoration: none;
  transition: all .3s ease;
  &:hover {
    color: var(--secondary-color);
    text-decoration: none;
  }
}
.text-brand {
  font-size: 2rem;
  font-weight: 600;
}
.color-black {
  text-decoration: none;
  color: #000000;
}
.color-purple {
  color: #ba478f;
}
.color-orange {
  color: #eb743b;
}
.color-blue {
  color: #1DA1F3;
}
.color-gray {
  text-decoration: none;
  color: var(--footer-sec-color);
}
.bg {
  background: var(--main-bg);
}
.no-margin {
  margin: 0;
}
.bg-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}
.list-a {
  text-decoration: none;
  display: inline-block;
  line-height: 2;
  padding: 0;
  list-style: none;
  li {
    position: relative;
    width: 50%;
    float: left;
    padding-left: 25px;
    padding-right: 5px;
    &:before {
      content: '';
      width: 10px;
      height: 2px;
      position: absolute;
      background-color: #313131;
      top: 15px;
      left: 0;
    }
  }
  ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }
}
.a {
  text-decoration: none;
  color: purple;
  font-size: 1.3rem;
}

.btn {
  transition: .3s ease;
}
.btn.btn-a {
  border-radius: 0;
  padding: 1rem 3rem;
  letter-spacing: .05rem;
  text-decoration: none;
  background-color: var(--background-color);
  color: var(--color);
  &:hover {
    background-color: var(--secondary-color);
    color: #000000;
  }
}
.btn.btn-b {
  border-radius: 0;
  padding: 1rem 3rem;
  letter-spacing: .05rem;
  background-color: var(--primary-color);
  color: #FFFFFF;
  margin-top: 12px;
  &:hover {
    background-color: var(--secondary-color);
    color: #ffffff;
  }
}
.btn.btn-b-n {
  background-color: var(--primary-color);
  color: #ffffff;
  border-radius: 8px;
  margin-left: 4px;
  margin-right: 4px;
  &:hover {
    background-color: var(--secondary-color);
    color: #ffffff;
  }
}
