/* Header */
.navbar-default {
  transition: all 0.3s ease-in-out;
  background-color: var(--main-bg);
  padding-top: 4px;
  padding-bottom: 4px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  color: var(--color);
  box-shadow: 1px 2px 15px rgba(100, 100, 100, 0.3);
}

.navbar-default .nav-search {
  color: var(--main-bg);
  font-size: 1.5rem;
}

.navbar-default input[type="search"] {
  color: var(--color);
  background: var(--search-bg);
}
.textarea {
  color: var(--color);
  background: var(--search-bg);
}
.navbar-default input[type="search"]::placeholder {
  color: var(--color);
  background: var(--search-bg);
}

.navbar-default select {
  color: var(--color);
  background: var(--search-bg);
}

.navbar-default.navbar-reduce {
  box-shadow: 1px 2px 15px rgba(100, 100, 100, 0.3);
}

.navbar-default.navbar-trans,
.navbar-default.navbar-reduce {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.navbar-default.navbar-trans .nav-item,
.navbar-default.navbar-reduce .nav-item {
  position: relative;
  padding-right: 10px;
  margin-left: 0;
}

@media (min-width: 768px) {
  .navbar-default.navbar-trans .nav-item,
  .navbar-default.navbar-reduce .nav-item {
    margin-left: 15px;
  }
}

.navbar-default.navbar-trans .nav-link,
.navbar-default.navbar-reduce .nav-link {
  font-size: 1.1rem;
  color: var(--color);
  font-weight: 600;
  letter-spacing: 0.03em;
  transition: all 0.1s ease-in-out;
  position: relative;
  padding-left: 0;
  padding-right: 0;
}

.navbar-default.navbar-trans .nav-link:before,
.navbar-default.navbar-reduce .nav-link:before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 2px;
  z-index: 0;
  background-color: var(--secondary-color);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out 0.3s;
}

.navbar-default.navbar-trans .nav-link:hover,
.navbar-default.navbar-reduce .nav-link:hover {
  color: var(--color);
}

.navbar-default.navbar-trans .nav-link:hover:before,
.navbar-default.navbar-reduce .nav-link:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

.navbar-default .dropdown .dropdown-menu {
  border-top: 0;
  border-left: 4px solid var(--primary-color);
  border-right: 0;
  border-bottom: 0;
  transform: translate3d(0px, 40px, 0px);
  opacity: 0;
  background-color: var(--main-bg);
  filter: alpha(opacity=0);
  visibility: hidden;
  transition: all 0.5s cubic-bezier(0.3, 0.65, 0.355, 1) 0s,
    opacity 0.31s ease 0s, height 0s linear 0.36s;
  margin: 0;
  border-radius: 0;
  padding: 12px 0;
}

@media (min-width: 768px) {
  .navbar-default .dropdown .dropdown-menu {
    border-top: 4px solid var(--primary-color);
    border-left: 0;
    display: block;
    position: absolute;
    box-shadow: 0 2px rgba(17, 16, 15, 0.1), 0 2px 10px rgba(20, 19, 18, 0.1);
  }
}

.navbar-default .dropdown .dropdown-menu .dropdown-item {
  padding: 12px 18px;
  transition: all 500ms ease;
  font-weight: 600;
  color: var(--color);
  min-width: 220px;
}

.navbar-default .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: var(--background-color);
  color: var(--secondary-color);
  transition: all 500ms ease;
}

.navbar-default .dropdown .dropdown-menu .dropdown-item.active {
  background-color: var(--background-color);
  color: var(--primary-color);
}

.navbar-default .dropdown:hover .dropdown-menu {
  transform: translate3d(0px, 0px, 0px);
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=1);
}

.general-margins {
  margin-left: 6px;
}

.navbar-default .container .image-container {
  min-width: 36px;
  height: 36px;
  position: relative !important;
  align-items: center;
}
.navbar-default .container .image-container .image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

/*------/ Hamburger Navbar /------*/
.navbar-toggler {
  position: relative;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0;
}

.navbar-toggler span {
  display: block;
  background-color: var(--color);
  height: 3px;
  width: 25px;
  margin-top: 4px;
  margin-bottom: 4px;
  transform: rotate(0deg);
  left: 0;
  opacity: 1;
}

.navbar-toggle-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  padding: 10px;
}

.navbar-toggle-box i {
  line-height: 0;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: transform 0.35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute;
  left: 12px;
  top: 10px;
  transform: rotate(135deg);
  opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px;
  visibility: hidden;
  background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute;
  left: 12px;
  top: 10px;
  transform: rotate(-135deg);
  opacity: 0.9;
}
.nav-arrow-a {
  text-decoration: none;
}

.nav-arrow-a .owl-arrow .owl-nav {
  font-size: 1.8rem;
  margin-top: -110px;
}

.nav-arrow-a .owl-arrow .owl-nav .owl-next {
  margin-left: 15px;
}

.nav-arrow-b .owl-arrow .owl-nav {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.2rem;
}

/* Search Overlay */
.box-collapse {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  padding-bottom: 20px;
  width: 100%;
  z-index: 1040;
  overflow-y: scroll;
  background: var(--main-bg);
  color: var(--color);
  transform: translateX(100%);
  transition: all 0.1s ease;
}
.label-upgrade {
  display: block;
  min-height: 100%; /* for the latest browsers which support min-height */
  height: auto !important; /* for newer IE versions */
  height: 100%; /* the only height-related attribute that IE6 does not ignore  */
}
@media (min-width: 768px) {
  .box-collapse {
    width: 50%;
  }
}

.box-collapse .title-box-d {
  top: 30px;
  left: 60px;
  opacity: 0;
  transition: all 0.1s ease;
  transition-delay: 0.1s;
}

@media (max-width: 575px) {
  .box-collapse .title-box-d {
    left: 35px;
  }
}

@media (max-width: 575px) {
  .box-collapse .title-box-d .title-d {
    font-size: 1.3rem;
  }
}

.box-collapse-wrap {
  left: 0;
  top: 1rem;
  bottom: 5rem;
  padding-left: 10%;
  padding-right: 10%;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  transform: translateY(3rem);
  transition: transform 0.1s 0.1s ease, opacity 0.1s 0.1s ease;
}

.box-collapse-open .click-closed {
  visibility: visible;
}

.box-collapse-open .box-collapse {
  transform: translateX(0);
  box-shadow: 0 0 65px rgba(0, 0, 0, 0.07);
  opacity: 1;
}

.box-collapse-open .box-collapse .title-box-d {
  transform: translate(0);
  opacity: 1;
}

.box-collapse-open .box-collapse-wrap {
  transform: translate(0);
  opacity: 1;
}

.box-collapse-closed .box-collapse {
  opacity: 0.7;
  transition-delay: 0s;
}

.box-collapse-closed .box-collapse .title-box-d {
  opacity: 0;
  transition-delay: 0s;
}

.box-collapse-closed .box-collapse .form-a {
  opacity: 0;
  transition-delay: 0s;
}

.click-closed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  z-index: 1035;
  background-color: var(--color);
  opacity: 0.4;
}

.close-box-collapse {
  position: absolute;
  z-index: 1050;
  top: 2rem;
  font-size: 3.5rem;
  line-height: 1;
  color: var(--color);
  cursor: pointer;
  transition: all 0.3s ease;
}

.right-boxed {
  right: 4.2857rem;
}

/* Intro */
@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,400,700");

.special-font {
  font-family: "Comfortaa", sans-serif;
  color: var(--color);
}

.slider-image-item {
  height: 256px;
  width: 256px;
}

.chip {
  padding: 0 12px;
  background-color: var(--gray-light);
  border-radius: 100px;
  display: inline-flex;
  font-family: "Comfortaa", sans-serif;
  margin: 4px;
  color: var(--color);
  align-items: center;
  height: 32px;
  font-size: 14px;
  cursor: pointer;
  border: none;
}

.chip .icon--leadind {
  margin: 2px 4px 0 -4px;
}

.chip .icon--trailing {
  margin: 2px -4px 0 4px;
}

.choiceChips .chip.chip--active {
  color: var(--background-color);
  background-color: var(--selected-bg);
}

.chips__filter .chip.chip--active .chip--check {
  display: block;
}
.intro {
  width: 100%;
  background: linear-gradient(
    to right,
    var(--intro-bg-first) 0%,
    var(--intro-bg-second) 100%
  );
  margin-top: 30px;
}
.intro h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  color: white;
}
.intro h2 {
  color: #f3f3f3;
  margin: 15px 0 0 0;
  font-size: 26px;
}

.intro .btn-get-started span {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

.search-margins {
  margin-top: 20px;
  margin-bottom: 20px;
}
.intro .btn-get-started:hover i {
  transform: translateX(5px);
}
.intro .intro-img {
  text-align: right;
}
.intro input[type="search"] {
  color: var(--color);
  background: var(--search-bg);
  border-color: #90a4ae;
}
.intro input[type="search"]::placeholder {
  color: var(--hint-color);
}
.intro .card {
  background: var(--main-bg);
  color: var(--color);
}

.intro .list-group-item {
  background: var(--main-bg);
  color: var(--color);
}

@media (max-width: 991px) {
  .intro {
    padding: 40px 0 20px 0;
  }
  .intro .intro-img {
    text-align: center;
    margin-top: 80px;
  }
  .intro .intro-img img {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .intro {
    text-align: center;
  }
  .intro h1 {
    font-size: 32px;
  }
  .intro h2 {
    font-size: 24px;
  }
  .intro .intro-img img {
    width: 100%;
  }
}

/* About */
.about {
  padding: 60px 0;
  background: var(--background-color);
}
.about .content h3 {
  font-weight: 600;
  font-size: 32px;
  color: var(--color);
}

.about .content ul {
  list-style: none;
  padding: 0;
  color: var(--color);
}

.about .content ul li {
  padding-bottom: 10px;
  color: var(--color);
}

.about .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: var(--secondary-color);
}

.about .content p {
  color: var(--color);
}

.about .content .read-more {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 50px 10px 28px;
  border-radius: 5px;
  transition: 0.5s;
  color: white;
  background: linear-gradient(
    45deg,
    var(--secondary-color) 0%,
    var(--primary-color) 100%
  );
  position: relative;
}
.about .content .read-more:hover {
  background: linear-gradient(
    180deg,
    var(--secondary-color) 0%,
    var(--primary-color) 100%
  );
}
.about .content .read-more i {
  font-size: 22px;
  position: absolute;
  right: 20px;
  top: 12px;
}

/* Facts */
.counts {
  padding: 10px 0 60px;
  background: var(--background-color);
}

.counts .count-box {
  display: flex;
  align-items: center;
  padding: 30px;
  width: 100%;
  background: var(--box-color);
  box-shadow: 0 0 30px var(--shadow);
}

.counts .count-box i {
  font-size: 42px;
  line-height: 0;
  margin-right: 20px;
  color: var(--primary-color);
}
.counts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: var(--secondary-color);
}
.counts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  color: var(--color);
}

/* Projects */
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background: var(--projects-bg);
  color: var(--color);
}
.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  font-family: "Poppins", sans-serif;
  color: var(--title-color);
}
.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #fdc134;
  bottom: 0;
  left: calc(50% - 20px);
}
.section-title p {
  margin-bottom: 0;
}
.features .content + .content {
  margin-top: 100px;
}
.features .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #213b52;
}
.features .content ul {
  list-style: none;
  padding: 0;
}
.features .content ul li {
  padding-bottom: 10px;
}
.features .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #fdc134;
}
.features .content p:last-child {
  margin-bottom: 0;
}

/* Image Container */
#features .image-container {
  width: 100%;
  height: 120px;
  position: relative !important;
  align-items: center;
}
#features .image-container .image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

/* Explore */
section {
  padding: 60px 0;
  overflow: hidden;
  background: var(--background-color);
}
.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  font-family: "Poppins", sans-serif;
  color: var(--color);
}
.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: var(--background-color);
  bottom: 1px;
  left: calc(50% - 60px);
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #fdc134;
  bottom: 0;
  left: calc(50% - 20px);
}
.section-title p {
  margin-bottom: 0;
}
.services {
  padding-bottom: 40px;
}
.services .card {
  border: 0;
  padding: 0 30px;
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
  background: transparent;
}
.services .card-img {
  width: calc(100% + 60px);
  margin-left: -30px;
  overflow: hidden;
  z-index: 9;
  border-radius: 0;
}
.services .card-img img {
  max-width: 100%;
  transition: all 0.3s ease-in-out;
}
.services .card-body {
  z-index: 10;
  background: var(--main-bg);
  border-top: 4px solid var(--background-color);
  padding: 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  margin-top: -60px;
  transition: 0.3s;
}
.services .card-title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}
.services .card-title a {
  color: var(--selected-bg);
  transition: 0.3s;
}
.services .card-text {
  color: var(--color);
}
.services .card:hover img {
  transform: scale(1.1);
}
.services .card:hover .card-body {
  border-color: #fdc134;
}
.services .card:hover .card-body .card-title a {
  color: #fdc134;
}

/* Supporters */
#supporters {
  padding: 60px 0;
}

#supporters .supporter-logo {
  padding: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 120px;
}

#supporters .supporter-logo:hover img {
  filter: none;
  transform: scale(1.1);
}
#supporters .supporter-logo img {
  filter: var(--filter);
}
#supporters img {
  transition: all 0.4s ease-in-out;
}
.section-header {
  margin-bottom: 30px;
  position: relative;
  padding-bottom: 20px;
}
.section-header::before {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 5px;
  background: #eb743b;
  bottom: 0;
  left: calc(50% - 25px);
}
.section-header h2 {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--color);
}

.section-with-bg {
  background-color: var(--main-bg);
}

/* App Download */
.cta-section {
  background: linear-gradient(
    to right,
    var(--intro-bg-first) 0%,
    var(--intro-bg-second) 100%
  );
  color: #fff;
}
.cta-section h2 {
  color: #f3f3f3;
  font-size: 3rem;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .cta-section h2 {
    font-size: 2rem;
  }
}
.cta-section .btn {
  background: var(--btn-dark);
  color: white;
  margin: 10px;
  padding: 18px;
}
.cta-section .btn i {
  margin-right: 5px;
  font-size: 24px;
  line-height: 0;
}
section {
  overflow: hidden;
}

.section {
  padding: 7rem 0;
}

/* Footer */
.section-footer {
  background: var(--footer-bg);
  color: var(--color);
  padding-bottom: 10px;
}

.section-footer ul {
  line-height: 2;
}

.section-footer .item-list-a i {
  font-size: 18px;
  padding-right: 4px;
  color: var(--secondary-color);
}

.center-p {
  color: var(--color);
  text-align: center;
  padding-top: 20px;
}
.section-line {
  padding-top: 30px;
  border-top: 1px solid #ddd;
}

.section-footer .image-container {
  display: flex;
  align-items: center;
}

.section-footer .image {
  display: inline-block;
  margin: 0 3px;
  height: 24px;
}

.section-footer .copyright {
  justify-content: center;
}
