.profile .profile-card img {
    max-width: 120px;
}
.profile .profile-card h2 {
    font-size: 24px;
    font-weight: 700;
    color: #000000;
    margin: 10px 0 0 0;
}
.profile .profile-card h3 {
    font-size: 18px;
}
.profile .profile-card .social-links a {
    font-size: 20px;
    display: inline-block;
    color: #000000;
    line-height: 0;
    margin-right: 10px;
    transition: 0.3s;
}
.profile .profile-card .social-links a:hover {
    color: #000000;
}
.profile .profile-overview .row {
    margin-bottom: 20px;
    font-size: 15px;
}
.profile .profile-overview .card-title {
    color: #000000;
}
.profile .profile-overview .label {
    font-weight: 600;
    color: #000000;
}
.profile .profile-edit label {
    font-weight: 600;
    color: #000000;
}
.profile .profile-edit img {
    max-width: 120px;
}

