.profile {
  background: var(--main-bg);
  color: var(--color);
}
.profile .profile-card img {
  max-width: 120px;
}

.profile .card {
  background: var(--background-color);
}

.profile .profile-card h2 {
  font-size: 24px;
  font-weight: 700;
  color: var(--color);
  margin: 10px 0 0 0;
}
.profile .profile-card h3 {
  font-size: 18px;
}
.profile .profile-card .social-links a {
  font-size: 20px;
  display: inline-block;
  color: var(--color);
  line-height: 0;
  margin-right: 10px;
  transition: 0.3s;
}
.profile .profile-card .social-links a:hover {
  color: var(--color);
}
.profile .profile-overview .row {
  margin-bottom: 20px;
  font-size: 15px;
}
.profile .profile-overview .card-title {
  color: var(--color);
}
.profile .profile-overview .label {
  font-weight: 600;
  color: var(--color);
}
.profile .profile-edit label {
  font-weight: 600;
  color: var(--color);
}
.profile .profile-edit img {
  max-width: 120px;
}
.profile .form-control {
  background: var(--main-bg);
  color: var(--color);
}
